@if (isAddingTask) {
    <app-new-task [userId]="userId" (close)="onCloseAddTask()"/>
}
<section id="tasks">
    <header>
        <h2>{{name}}'s Tasks</h2>
        <menu>
            <button (click)="onStartAddTask()">Add Task</button>
        </menu>
    </header>

    <ul>
        @if(selectedUserTasks && selectedUserTasks.length > 0){
            @for (task of selectedUserTasks; track task.id) {
                <li>
                    <app-task [task]="task"/>
                </li>
            }
        } @else {
            <p>Hurayyy!!!! you don't have any pending tasks. To add a new task press <b>"Add Task"</b> button</p>
        }
    </ul>
   
</section>